extends layout 
block content 
  .container 
    .flex 
      .column-sidebar
        if error 
          .error #{error.message}
        if !email
          .title 
            form#sendOTP(action="forgot", method="post")
              h3 Forgot your account?
              label(for="email")  Enter your email address 
              input#email(type="email", name="email")   
              button(type="submit") Send OTP
        else 
          .title 
            form#verifyOTP(action="verify-otp", method="post")
              h3 Verify OTP 
              label(for="otp") Enter OTP has been sent to your email: 
              input#otp(type="text", name="otp", pattern="^\\d{6}$")
              button(type="submit") Verify


