:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  background-color: #c2dcd4;
  font-family: Arial, Helvetica, sans-serif;
}
body * + * {
  margin-left: 1.5em;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.container {
  max-width: 1080px;
  margin: auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(5, auto);
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex > * + * {
  margin-top: 0;
  margin-left: 1.5em;
}
.title {
  padding: 1.5em;
  background-color: #fff;
  /* border-radius: 0.5em; */
}
.column-main {
  flex: 2;
}
.column-sidebar {
  margin: 5em auto;
}
.login-form,
.register-form {
  margin-top: 1.5em;
  display: flex;
  flex-flow: column;
}

.login-form h3,
.register-form h3 {
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.login-form input:not([type='checkbox']):not([type='radio']),
.register-form input:not([type='checkbox']):not([type='radio']) {
  display: block;
  margin-top: 0.5em;
  padding: 0.5em;
}
.login-form a,
.register-form a {
  font-size: 0.8em;
  margin-top: 0;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}
.login-form button,
.register-form button {
  margin: 1em auto;
  padding: 0.5em;
  width: fit-content;
  border: 1px solid #cc6b5a;
  background-color: white;
  cursor: pointer;
}
.activation-form {
  margin: auto;
}
.activation-form input {
  display: inline-block;
  padding: 0.5em;
  text-align: center;
  margin: auto 2em;
}
.activation-form button {
  padding: 0.5em;
}
.error {
  display: block;
  color: red;
}
.sidebar-left {
  grid-column: 1/2;
  grid-row: 1/5;
}
.sidebar-right {
  grid-column: 3/4;
  grid-row: 1/5;
}
.chatbox {
  margin-top: 0;
  grid-column: 2/3;
  grid-row: 3/5;
}
.chatbox input:not([type='checkbox']):not([type='radio']) {
  display: inline-block;
  /* min-width: 15em; */
  /* margin: auto; */
  width: 35em;
}
.chatbox button {
  display: inline-block;
  /* margin: auto; */
}
.title:first-child {
  margin-top: 0;
}
.title * + * {
  margin-top: 1.5em;
}

.chat-text {
  min-height: 10em;
}

.site-nav {
  display: flex;
  flex-wrap: nowrap;
}

.site-nav li {
  list-style: none;
}
.site-nav a:link {
  text-decoration: none;
}
.site-nav a:visited:active {
  color: grey;
  text-transform: uppercase;
}
.site-nav a:hover {
  text-transform: uppercase;
  text-shadow: -1em 1em 1em steelblue;
}
.site-nav a:active {
  color: red;
}
